@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
 
    .sidebar-icon{
        @apply relative flex items-center justify-center
        h-16 w-16 mx-auto mt-8 mb-2
        bg-gray-800 text-green-500 hover:bg-green-600 hover:text-white
        rounded-3xl hover:rounded-xl
        transition-all duration-300 ease-linear;
    }
    
    .sidebar-tooltip{
        @apply absolute w-auto p-2 m-2 min-w-max left-24
        items-center rounded-md shadow-md
        text-white bg-gray-900
        text-xs font-bold
        transition-all duration-100 scale-0 origin-left;
    }

    .active{
        @apply bg-green-600 text-white
        rounded-3xl;
    }
    .component-style{
       @apply bg-gray-800 rounded-lg p-4;
    }

    .subtext{
        @apply text-white text-left text-base;
    }

    .subheading{
        @apply text-white text-center text-xl
        font-bold;
    }

    .heading-text{
        @apply text-5xl font-bold;
    }

    .card-template{
        @apply relative w-64 h-80 bg-gray-600 rounded-lg shadow-md overflow-hidden
         transform transition-transform duration-300 hover:scale-105;
    }

    @font-face {
        font-family: 'Lato';
        src: url('../assets/fonts/Lato-Medium.ttf') format('truetype');
        font-weight: bold;
    }
    @font-face {
        font-family: 'Rockybilly';
        src: url('../assets/fonts/Rockybilly.ttf') format('truetype');
        font-weight: normal;
    }

    @font-face {
        font-family: 'Ubuntu';
        src: url('../assets/fonts/Ubuntu-L.ttf') format('truetype');
        font-weight: normal;
    }
    @font-face {
        font-family: 'Ubuntu';
        src: url('../assets/fonts/Ubuntu-R.ttf') format('truetype');
        font-weight: bold;
    }
    
}

@layer utilities{
    @keyframes changeColor {
        0% {
          background-position: 0%;
        }
        100% {
          background-position: 400%;
        }
      }
      
      .animate-bg {
        background: linear-gradient(45deg, #FF0080, #7928CA, #FFCA40, #00D4FF);
        background-size: 800% 800%;
        animation: changeColor 20s linear infinite;
      }
  }